{% comment %}
  field: 'name' / 'email' / 'message'
  type: 'text' / 'email' / 'textarea'
  tw-style
{% endcomment %}

{% assign name = 'contact[' | append: field | append: ']' %}
{% assign label = 'forms.' | append: field | append: '.label' | t %}
{% assign placeholder = 'forms.' | append: field | append: '.placeholder' | t %}
<label
  class="
    feedback__field
    tw:flex tw:flex-col tw:gap-2
    {% if flat %}tw:col-span-2 tw:max-md:col-span-1{% endif %}
    tw:relative
    {{ tw-style }}
  "
>
  <span class="feedback__label tw:text-base tw:leading-snug tw:font-normal">{{ label }}</span>

  {% if type == 'textarea' %}
    <textarea
      class="
        feedback__textarea
        tw:text-base tw:leading-snug
        tw:text-gray-500
        tw:border tw:border-gray-300
        tw:rounded-lg
        tw:p-4 tw:h-38 tw:resize-none
        tw:focus-visible:outline-none
        tw:focus-visible:border-gray-500
        tw:hover:border-gray-500
      "
      name="{{ name }}"
      placeholder="{{ placeholder }}"
      data-validate="{{ type }}"
      data-type="message"
      {% if required %}
        data-required="true"
      {% endif %}
    >{{ form[field] | escape }}</textarea>
  {% else %}
    <input
      class="
        feedback__input
        tw:text-base tw:leading-snug
        tw:text-gray-500
        tw:border tw:border-gray-300
        tw:rounded-lg
        tw:p-4
        tw:focus-visible:outline-none
        tw:focus-visible:border-gray-500
        tw:hover:border-gray-500
      "
      type="{{ type }}"
      name="{{ name }}"
      data-validate="{{ type }}"
      placeholder="{{ placeholder }}"
      value="{{ form[field] | default: customer[field] | escape }}"
      {% if required %}
        data-required="true"
      {% endif %}
    >
  {% endif %}

  <p
    class="feedback__error tw:absolute tw:left-0 tw:bottom-[-25px] tw:text-red-500 tw:text-sm tw:hidden"
    data-error-container="{{ field }}"
  ></p>
</label>

<script id="Translations" type="application/json">
  {
    "submitted": "{{ 'forms.submitted' | t }}",
    "required": "{{ 'forms.validations.required' | t }}",
    "message_short": "{{ 'forms.validations.message_short' | t }}",
    "phone_long": "{{ 'forms.validations.phone_long' | t }}",
    "phone_short": "{{ 'forms.validations.phone_short' | t }}",
    "phone_digits": "{{ 'forms.validations.phone_digits' | t }}",
    "phone_plus": "{{ 'forms.validations.phone_plus' | t }}",
    "email_invalid": "{{ 'forms.validations.email_invalid' | t }}",
    "email_dot_required": "{{ 'forms.validations.email_dot_required' | t }}",
    "email_format": "{{ 'forms.validations.email_format' | t }}",
    "email_domain_required": "{{ 'forms.validations.email_domain_required' | t }}"
  }
</script>
