<div
  class="featured-products__item"
  data-price="{{ product.price }}"
  data-title="{{ product.title | escape }}"
  data-index="{{ forloop.index0 }}"
  {{ product.shopify_attributes }}
>
  <a href="{{ product.url }}" class="featured-products__link">
    {{ product.featured_image | image_url: width: 500 | image_tag: alt: product.title }}
    <h3 class="featured-products__name">{{ product.title }}</h3>

    <span class="featured-products__price">
      {{ product.price | money }}
    </span>

    <div
      class="featured-products__rating"
      role="img"
      aria-label="Rating {{ rating_value }} out of 5"
    >
      <div class="featured-products__stars" data-rating="{{ rating_value }}">
        {% for i in (1..5) %}
          {% assign star_class = 'star' %}
          {% if i <= rating_value %}
            {% assign star_class = 'star is-filled' %}
          {% endif %}
          {% render 'icon-star', star_class: star_class %}
        {% endfor %}
        <span class="featured-products__stars-value" aria-hidden="true">{{ rating_value }}</span>
      </div>
    </div>

    <button
      class="featured-products__btn"
      type="button"
      data-product-id="{{ product.selected_or_first_available_variant.id }}"
    >
      {{ 'products.product.add_to_cart' | t: default: 'Add to cart' }}
    </button>
  </a>
</div>
