<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ shop.name | escape }}</title>
    {{ content_for_header }}
    <script src="{{ 'global.js' | asset_url }}" defer></script>
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
  </head>
  <body>
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}

    <div class="tw:hidden">
      {% render 'icon-sprite' %}
    </div>

    {% section 'header' %}

    <main id="main" role="main" aria-labelledby="page-title">
      {{ content_for_layout }}
    </main>
    {% comment %}
      {% section 'footer' %}
    {% endcomment %}
  </body>
</html>
